:root{

    --background:#070B18;

    --background-secondary:#0B1026;

    --glass:rgba(255,255,255,.08);

    --glass-border:rgba(255,255,255,.15);

    --white:#FFFFFF;

    --gray:#D1D5DB;

    --pink:#FF4D8D;

    --purple:#7C3AED;

}